
button {
    font-size: 20px;
    height: 90px;
    width: 90px;
    margin-top: 4px;
}

#output {
    font-size: 60px;
    height: 80px;
    width: 372px;
    background-color: aquamarine;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
}